/* Header */

.header {
  align-items: center;
  background: linear-gradient(to bottom, #fbc300, #c98a00);
  background-image: url('../images/cover.jpg');
  background-image: url('../images/cover.jpg'),
    linear-gradient(to bottom, #fbc300, #c98a00);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 368px;
  padding: 0.5rem 1rem;
  margin-bottom: 50px;
  text-align: center;
}

.header-logo {
  margin: 0;
}

.header-logo svg {
  height: 24px;
  width: 92px;
}

.header-title {
  font-size: 38px;
  font-weight: 300;
}

/* Body & Search Interface  */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
  padding-right: 30px;
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-Hits-item article {
  display: flex;
}

.ais-Hits-item img {
  max-height: 125px;
  padding-right: 16px;
}

.search-row {
  margin-bottom: 48px;
}

#stats {
  width: "75%";
  float: left;
}

#sort-by {
  width: "25%";
  float: right;
}

.ais-Hits {
  color: #21243d;
  font-size: 0.75rem;
}

.ais-SortBy, ais-SortBy-select {
  color: #21243d;
  font-size: 0.75rem;
  position: relative;
}

.ais-SortBy-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: #21243d;
  font-family: inherit;
}

/* Filters */

.filter-header {
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.clear-filters {
  align-items: center;
  display: flex;
}

.clear-filters svg {
  margin-right: 8px;
}

.ais-ClearRefinements {
    color: #21243d;
}

.ais-ClearRefinements .ais-ClearRefinements-button {
  color: #21243d;
  font-size: 12px;
}

.ais-ClearRefinements-button--disabled {
  color: rgba(33, 36, 61, 0.5);
  font-size: 12px;
}

/* Hits */

.ais-Hits {
  clear: both;
  margin-top: '20px';
}

.ais-Hits-list {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr;
}

@media (min-width: 680px) {
  .ais-Hits-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .ais-Hits-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .ais-Hits-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Product List */

article {
  display: block;
  unicode-bidi: isolate;
}

.hit {
  color: #21243d;
  font-size: 14px;
  line-height: 18px;
  vertical-align: top;
}

.hit h1 a {
  font-size: 14px;
  text-decoration: none;
  color: #21243d;
}

.hit-category {
  color: #21243d;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
  opacity: 0.7;
  text-transform: uppercase;
}

.hit-description {
  margin-top: 2px;
}

.hit-info-container {
  overflow-wrap: break-word;
  word-break: break-word;
}

.hit-image-container {
  align-items: center;
  display: flex;
  height: 174px;
  justify-content: center;
  margin: auto;
  width: 174px;
}

.hit-image {
  height: auto;
  vertical-align: top;
  max-height: 100%;
  max-width: 100%;
}

.hit-em {
  color: #e2a400;
  font-size: 11px;
  font-weight: 600;
}

.hit-rating {
  border: 1px solid rgba(226, 164, 0, 0.5);
  border-radius: 4px;
  margin-left: 4px;
  padding: 0 4px;
}

/* Highlighting */

.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  background: rgba(226, 164, 0, 0.4);
}
